.slider {
  display: block;
  background-image: url('/img/bg2.png');
  min-height: 450px;
  background-size: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
}
.logo {
  padding: 40px;
}
.mintboard{
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-bottom: 5%;
  opacity: 0.75;
  background-color: #cccccc;
  background-image: linear-gradient(#1c2025, #1c2025);
}
.price {
  font-weight: bold;
}

.mint_price {
  width: 90%;
  border: none;
  border-bottom: 3px solid #EDFF81;
  background-color: #212529;
  text-align: center;
  outline: hidden;
}

input.mint-price {
  outline: none;
  text-align: center;
}
/* 
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.mint_btn {
  padding: 20px 50px;
}

.mint_price::placeholder {
  font-size: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  .mintboard {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .mintboard {
    width: 70%;
  }
}
@media (min-width: 1366px) {
  .mintboard {
    width: 60%;
  }
}
@media (max-width: 1920px) {
  .mintboard {
    width: 50%;
  }
}